.Input {
    width: 100%;
    box-sizing: border-box;
}

.input-element {
    outline: none;
    border: 2px solid #cccccc;
    background-color: #fff;
    padding: 5px 4px;
    display: block;
    width: 100%;
    border-radius: 2px;
    font-family: inherit;
}

.input-element:focus {
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 0px 2px #99caff;
    padding: 5px 4px;
}
