.Items {
    width: 100%;
    padding: 16px;
    height: 500px;
    border-bottom: 2px solid #ECF0F1;
    overflow-y: scroll; 
}

.Items::-webkit-scrollbar {
    display: none;
}

.item_tasks {
    list-style: none;
    overflow-y: scroll;
}

.item_tasks::-webkit-scrollbar {
    display: none;
}