.Item {
    list-style: none;
    padding: 12px 8px;
    /* height: 32px; */
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.Item:hover {
    background-color: #f84546;
    color: #fff;
}